@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --standard-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    min-height: 75vh;
    display: flex;
    flex-direction: column; /* Riempie lo spazio tra header e footer */
    justify-content: center;
}

.content > * {
    flex: 1;
    flex-grow: 0;
}

footer {
    padding: 15px 20px 0 20px;
    text-align: center;
    width: 100%;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.log_page {
    background-image: url("../images/restaurant.jpg");
}

#personal_page, #profile_page {
    background-image: url("../images/personal_2.jpg");
}

#restaurant_info_page {
    background-image: url("../images/personal.jpg");
}

#admin_page {
    background-image: url("../images/server_hall.jpg");
}

#info_page {
    background-image: url("../images/personal.jpg");
}

body.no-scroll {
    overflow: hidden;
    /* Disabilita lo scroll */
}
.jaini {
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1.home_title {
    font-size: 4rem;
}

#home_form_container {
    margin: auto;
    box-shadow: var(--standard-shadow);
    border-radius: 1rem;
}

#rest_info_page_container, #informazioni {
    box-shadow: var(--standard-shadow);
}

input.form_input {
    width: 50%;
}

input.form_input:active {
    border-bottom: blue solid 2px;
}

input.del_rev {
    border-color: gray;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-bottom: #ffc107 solid 3px !important;
    outline: none !important;
}

#login_form *:not(label) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#results_container *:not(#reviews_space *):not(#resturant_info_space *):not(#review_list_space *) {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#results_container>h3 {
    background-color: rgba(25, 135, 84, 0.5);
}



#results_container, #page_container {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.8);
}

#reviews_space *,
#review_form * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav-link {
    height: 48px !important; /* Regola in base alle dimensioni della navbar */
    display: flex;
    align-items: center;
}

div.profile_elements {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#profile_icon {
    opacity: 0.6;
}

#profile_icon:hover {
    opacity: 1;
    transition: 0.5s;
}

.navbar-nav {
    gap: 1rem;
}

@media only screen and (max-width: 992px) {
    #login_made {
        width: 75% !important;
    }

    #form_inside,
    #form_inside *:not(input[type="radio"]) {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    #login_form *:not(input[type="radio"]) {
        font-size: larger;
        text-align: center !important;
        width: 100% !important;
    }

    .icon {
        width: 64px !important;
    }

    #login_form button[type="submit"] {
        margin-top: 3rem !important;
    }

    #login_made,
    #info_container {
        width: 90% !important;
    }

    #rev_table_container {
        padding: 0 !important;
    }

    .content {
        min-height: auto;
        margin: 2rem auto 2rem auto
    }

    #results_container {
        width: 85% !important;
    }

    #insert_review_space select, #insert_review_space button {
        width: 100% !important;
    }

    div.footer_column {
        margin-bottom: 1.5rem !important;
    }
}

div.info_show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.info_show p {
    margin: 0 !important;
}

div.info_show img {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

#user_info li, #ristor_info li {
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
}

#review_form select {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

#review_form label {
    font-size: 1rem;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

#logout-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logout-content {
    padding: 2rem;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logout-content h2 {
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#confirm-logout {
    background-color: #d9534f;
    color: white;
}

#cancel-logout {
    background-color: #5bc0de;
    color: white;
}

button.copy_button {
    background-image: url("../images/copy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: rgb(188, 188, 188);
    width: 2rem;
    height: 2rem;
}